## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
# vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df = pd.read_csv("Vacation_Search/WeatherPY_vacation.csv")
# vacation_df.head()
vacation_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,0,Amahai,ID,81.63,broken clouds,-3.3333,128.9167,HOTEL ISABELA
1,6,Weligama,LK,78.46,overcast clouds,5.9667,80.4167,Weligama Bay Resort
2,8,Butaritari,KI,82.87,overcast clouds,3.0707,172.7902,Isles Sunset Lodge
3,9,Ailigandi,PA,80.73,overcast clouds,9.2333,-78.0167,Akwa Reef Lodge
4,11,Calabozo,VE,77.04,broken clouds,8.9242,-67.4293,Hotel Giardini
...,...,...,...,...,...,...,...,...
213,674,Jiexiu,CN,78.80,clear sky,37.0244,111.9125,IU Hotel Jinzhong Yuhua Road
214,677,Batagay,RU,81.32,overcast clouds,67.6333,134.6333,Gostinitsa Ki'ileekh
215,678,Ambon,ID,78.94,broken clouds,-3.6954,128.1814,Swiss-Belhotel Ambon
216,682,Pinar Del Rio,CU,78.03,broken clouds,22.4175,-83.6981,Hostal La Colina Dunay y Raul
217,684,Sola,VU,83.07,broken clouds,-13.8833,167.5500,Leumerus Bungalows

In [46]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weaher Description</dt><dd>{Current Weather}</dd>
<dt>Max Temp</dt><dd>{Max Temp} *F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [7]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(40.0, 41.0), zoom_level=3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [57]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Isla Vista")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Isla Vista")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Lompoc")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Pacific Grove")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="San Jose")]

In [58]:
vacation_start

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
77,255,Isla Vista,US,82.76,clear sky,34.4133,-119.861,Best Western Plus South Coast Inn

In [59]:
vacation_end

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
77,255,Isla Vista,US,82.76,clear sky,34.4133,-119.861,Best Western Plus South Coast Inn

In [60]:
vacation_stop1

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
59,187,Lompoc,US,79.12,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [61]:
vacation_stop2

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
42,144,Pacific Grove,US,81.07,scattered clouds,36.6177,-121.9166,Lovers Point Inn

In [62]:
vacation_stop3

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
135,423,San Jose,US,84.7,few clouds,37.3394,-121.895,The Westin San Jose

In [63]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.loc[77]["Lat"],vacation_start.loc[77]["Lng"])
end = (vacation_start.loc[77]["Lat"],vacation_start.loc[77]["Lng"])
stop1 = (vacation_stop1.loc[59]["Lat"],vacation_stop1.loc[59]["Lng"])
stop2 = (vacation_stop2.loc[42]["Lat"],vacation_stop2.loc[42]["Lng"])
stop3 = (vacation_stop3.loc[135]["Lat"],vacation_stop3.loc[135]["Lng"])

print(start)
print(end)
print(stop1)
print(stop2)
print(stop3)

(34.4133, -119.861)
(34.4133, -119.861)
(34.6391, -120.4579)
(36.6177, -121.9166)
(37.3394, -121.895)

In [70]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
west_america_tour = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(west_america_tour)
fig

Figure(layout=FigureLayout(height='420px'))

In [66]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Weather,Lat,Lng,Hotel Name
0,255,Isla Vista,US,82.76,clear sky,34.4133,-119.8610,Best Western Plus South Coast Inn
1,187,Lompoc,US,79.12,overcast clouds,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
2,144,Pacific Grove,US,81.07,scattered clouds,36.6177,-121.9166,Lovers Point Inn
3,423,San Jose,US,84.70,few clouds,37.3394,-121.8950,The Westin San Jose

In [67]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weaher Description</dt><dd>{Current Weather}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [68]:
# 11a. Add a marker layer for each city to the map.

figure_layout = {
    'width': '1000px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px'}
    

fig = gmaps.figure(layout = figure_layout, center=(30.0, 31.0), zoom_level=5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', padding='1px', width='1000px'))